@use '../app/mixins' as mixins;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid var(--border);
    background: var(--background);
    backdrop-filter: blur(10px);
}

.brand {
    @include mixins.flex(center, flex-start, 0.5rem);
}

.logo {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 8px;
    background-color: var(--accent);
}
.name {
    line-height: 100%;
}

.content {
    padding: 1rem 1rem;
    margin: 0 auto;
    @include mixins.content-width();
    @include mixins.flex(center, space-between, 0rem);
}

.brand_container {
    @include mixins.flex(center, space-between, 0rem);
    gap: 1rem;
}
