@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');
:root {
    --background: #ffffff;
    --foreground: #171717;
    --muted: #4b5563;
    --card: #ffffff;
    --card-foreground: #f3f4f6;
    --border: #e5e7eb;
    --accent: #6d28d9;
    --accent-foreground: #ffffff;
    --ring: #7c3aed;
    --blockquote-bg: #f3f4f6;
    --blockquote-border: #d1d5db;
    --blockquote-foreground: #374151;
    --max-width: 1024px;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --foreground: #171717;
        --muted: #4b5563;
        --card: #ffffff;
        --card-foreground: #f3f4f6;
        --border: #e5e7eb;
        --accent: #6d28d9;
        --accent-foreground: #ffffff;
        --ring: #7c3aed;
        --blockquote-bg: #f3f4f6;
        --blockquote-border: #d1d5db;
        --blockquote-foreground: #374151;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0b0c10;
        --foreground: #e5e7eb;
        --muted: #9ca3af;
        --card: #1b1e26;
        --card-foreground: #111827;
        --border: #4b5563;
        --accent: #8b5cf6;
        --accent-foreground: #ffffff;
        --ring: #a78bfa;
        --blockquote-bg: #1f212a;
        --blockquote-border: #4b5563;
    }
}

.light {
    --background: #ffffff;
    --foreground: #171717;
    --muted: #4b5563;
    --card: #ffffff;
    --card-foreground: #f3f4f6;
    --border: #e5e7eb;
    --accent: #6d28d9;
    --accent-foreground: #ffffff;
    --ring: #7c3aed;
    --blockquote-bg: #f3f4f6;
    --blockquote-border: #d1d5db;
    --blockquote-foreground: #374151;
}

.dark {
    --background: #0b0c10;
    --foreground: #e5e7eb;
    --muted: #9ca3af;
    --card: #1b1e26;
    --card-foreground: #111827;
    --border: #4b5563;
    --accent: #8b5cf6;
    --accent-foreground: #ffffff;
    --ring: #a78bfa;
    --blockquote-bg: #1f212a;
    --blockquote-border: #4b5563;
}
html,
body {
    max-width: 100vw;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Pretendard Variable', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;
}
