// 마크다운의 스타일을 설정합니다.

.markdown {
    line-height: 1.85;

    h1,
    h2,
    h3 {
        line-height: 1.25;
        margin: 2rem 0 1rem;
    }

    p {
        margin: 10px 0;
        display: block;
    }

    a {
        color: var(--accent);
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    blockquote {
        display: block;
        background: var(----blockquote-bg);
        padding: 1rem;
        margin: 0 0 20px;
        position: relative;

        font-size: 1rem;
        line-height: 150%;
        color: var(--foreground);

        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

        border-color: var(--accent);
        border-left-style: solid;
        border-left-width: 0.5rem;
        border-right-style: solid;
        border-right-width: 2px;

        p {
            white-space: wrap;
        }
    }

    pre {
        background-color: rgb(26, 26, 32);
        border-radius: 0.875rem;
        padding: 1rem;
        margin: 2rem 0;
        font-size: 0.875rem;
        width: 100%;
        display: block;
        code {
            display: block;
            width: 100%;
            overflow: auto;
            color: white;
            background-color: inherit;
            font-family: 'JetBrains Mono';
            font-weight: 400;
        }
    }

    code {
        border-radius: 0.2rem;
        background-color: var(--card-foreground);
        color: var(--ring);
        padding: 0.2rem;
        font-size: 0.875rem;
        font-weight: bold;
        font-family: 'Pretendard Variable', Helvetica, sans-serif;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        border: 1px solid var(--border);
        background: var(--card);
        padding: 10px;
    }

    hr {
        margin-top: 3rem;
        margin-bottom: 3rem;
        height: 2px;
        background-color: var(--border);
        border: none;
    }

    ul {
        margin-left: 1rem;
    }
    ol {
        margin-left: 1rem;
    }
}
