@use '../app/mixins' as mixins;

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.no_content {
    @include mixins.flex(center, center, 0rem);
    height: 20rem;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
