@use '../app/mixins' as mixins;

.item {
    background: var(--card);
    color: var(--card-foreground);
    border: 1px solid var(--border);
    border-radius: 1rem;
    padding: 1.25rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    min-width: 0px;
}

.item_header {
    @include mixins.flex(center, flex-start, 0.5rem);
    margin-bottom: 1rem;

    .image {
        // display: inline-block;
        min-width: 2.5rem;
        min-height: 2.5rem;
        background-color: var(--accent);
        border-radius: 0.5rem;
    }

    .info {
        overflow: hidden;
        .title_wrap {
            width: 100%;
            min-width: 0; /* grid 안에서 필수 */
        }
        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 1.125rem;
        }
        .create_at {
            font-size: 0.875rem;
            color: var(--muted);
        }
    }
}

.description {
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--muted);
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.tags {
    margin-bottom: 1rem;
    @include mixins.flex(center, flex-start, 0.5rem);
}

.read {
    @include mixins.flex(center, space-between, 0rem);

    .read_time {
        color: var(--muted);
        font-size: 0.875rem;
    }
    .read_btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 40px;
        padding: 0 16px;
        border-radius: 12px;
        border: 1px solid var(--border);
        background: var(--accent);
        color: white;
    }
}
