.toc_container {
    position: relative;
    width: 20%;
}

.toc {
    position: sticky;
    top: 3rem;
    border-left: 0.5rem solid var(--border);
    padding-left: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heading1 {
    padding-left: 1rem;
}
.heading2 {
    padding-left: 0.875rem;
}
.heading3 {
    padding-left: 0.5rem;
}
