.toc_container {
    position: relative;
    min-width: 250px;
}

.toc {
    position: sticky;
    top: 3rem;
    border-left: 0.5rem solid var(--border);
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    padding: 1rem;
    font-size: 0.875rem;
    max-height: 30rem;
    overflow-y: auto;
}

.heading1 {
    padding-left: 1rem;
}
.heading2 {
    padding-left: 1.5rem;
}
.heading3 {
    padding-left: 2rem;
}

.heading1,
.heading2,
.heading3 {
    &:hover {
        font-weight: bold;
        text-decoration: underline;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;

    .loading_icon {
        animation: rotate 0.5s infinite;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

@media screen and (max-width: 768px) {
    .toc_container {
        display: none;
    }
}
