.content_container {
    display: flex;
    gap: 1rem;
}

.content {
    min-width: 0;
    display: block;
}

.cover {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 1rem;
    img {
        object-fit: cover;
    }
}
